<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<a th:href="@{/post}">글쓰기</a>

<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">글제목</th>
        <th class="two wide">작성자</th>
        <th class="three wide">작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="yourplace : ${boardList}">
        <td>
            <span th:text="${rest_info.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${rest_info.id}}">
                <span th:text="${rest_info.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${rest_info.addr}"></span>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>